<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h1>Create a basketball team. Now.</h1>
   <form method = "POST" action="/team">
     <ul>
       <p>Team name: <input type="text" name="name"</input> </p>
       <p>Coach: <input type="text" name="coach"</input> </p>
       <p>Point guard: <input type="text" name="pg"</input> </p>
       <p>Shooting guard: <input type="text" name="sg"</input> </p>
       <p>Small forward: <input type="text" name="sf"</input> </p>
       <p>Power forward: <input type="text" name="pf"</input> </p>
       <p>Center :<input type="text" name="c"</input> </p>
       <input type="submit" value="Submit"</input>
     </ul>
   </form>
 </body>
</html>
